
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}


.startb,
.rulesBox,
.quizBox,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.info_box.activeInfo,
.rulesBox.activeInfo,
.quizBox.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* //start button style  */
.startb button{
    font-size: 20px;
    font-weight: medium;
    color: blue;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
/* //whole rule section */
.rulesBox{
    width: 520px;
    border-radius: 5px;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
/* //rule box title */
.rulesBox .rulesTitle{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 35px;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    font-weight: 600;
}

.rulesBox .rulesList{
    padding: 15px 30px;
}

.rulesBox .rulesList .law{
    margin: 5px 0;
    font-size: 17px;
}
.rulesBox .rulesList .law span{
    font-weight: 600;
    color:blue
}
/* //bottom of rule box */
.rulesBox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid black;
}
/* //styling the buttons on bottom of rule box  */
.rulesBox .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quizBox{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quizBox header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quizBox header .title{
    font-size: 20px;
    font-weight: 600;
}


.buttons button.restart{
    color: white;
    border-color: blueviolet;
}

.buttons button.restart:hover{
    background: blue;

}

.buttons button.quit{
    color: blueviolet;
}

.buttons button.quit:hover{
    color: white;
    border-color: blueviolet;
}
/* quiz section */
.quizBox{
    width: 550px;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quizBox header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:5px 5px 0 0;
    

}

.quizBox header .title{
    font-size: 20px;
    font-weight: 600;

}

.quizBox header .timer{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 140px;
    height: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 8px;
}

.quizBox header .timer .timeText{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizBox header .timer .timerLen{
    font-size: 18px;
    font-weight: 500;
    background: black;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    user-select: none;
}

.quizBox section{
    padding: 25px 30px 20px 30px;
    background: white;
}

.quizBox section .getText{
    font-size: 25px;
    font-weight: 600;
}

.quizBox section .answerList{
    padding: 20px 0;
    display: block;
}

section .answerList .answer{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3 ease;
}

section .answerList .answer:hover{
    color: #004085;
    background: white;
    background-color: #b8daff;
}

.answerList .answer:last-child{
    margin-bottom: 0px;
}

.answerList .answer .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;

}

.answerList .answer .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.answerList .answer .icon.cross{
    color: red;
    background: #f8d7da;
    border-color: red;

}

.quizBox footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.quizBox footer .numQuest span{
    display: flex;
    user-select: none;
}

footer .numQuest span p{
    font-weight: 500;
    padding: 0 5px;
}

.numQuest span p:first-child{
    padding-left: 0px;
}

footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover{
    background: #0263ca;
}

.result_box{
    background: white;
    width: 400px;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
