
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: blueviolet;
}


.startb,
.rulesBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* //start button style  */
.startb button{
    font-size: 20px;
    font-weight: medium;
    color: blue;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.rulesBox{
    width: 520px;
    border-radius: 5px;
    background: white;
}

.rulesBox .rulesTitle{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 15px;
    font-weight: 600;
}

.rulesBox .rulesList{
    padding: 15px 35px;
}

.rulesBox .rulesList .law{
    margin: 5px 0;
    font-size: 13px;
}

.rulesBox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid black;
}