.startb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* //start button style  */
.start button {
    font-size: 25px;
    font-weight: medium;
    color: blue;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

