
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: beige;


}

button {
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between

}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
  }

 
.hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }

  .scores {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  button:hover {
    background-color: blue;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }



.feedback{
    background: white;
    width: 400px;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}  
